/* ========= TABLE OF CONTENTS ========= 
    01. VARIABLES
    02. GENERAL
    03. COMPONENTS
    04. RESUME
    05. ABOUT
    06. PROJECT
    98. STYLEGUIDE
    99. TOP LEVEL

    -- maintain 4 line gap between different sections
*/



/* ========= 01 VARIABLES ========= */
:root {
  /* color */
  --BrandL: #D35313;     /* Apple Red byjackli   - Brand identity color suitable for background, header text, and error messages. */
  --BrandS: #D3531373;   /* Apple Red byjackli   - Suitable for in-text link decoration and inactive inpit fields. */
  
  --DarkL: #000000;    /* Skid Black byjackli  - Suitable for any text and backgrounds. This is the default 'dark-mode'. */
  --DarkM: #000000A6;  /* Dark Black byjackli  - Suitable for overalys, tagged texts, drop shadows, help messages, and error messages. */
  --DarkS: #00000040;  /* Dark Black byjackli  - Suitable for card and block drop shadows. */

  --LightL: #FFFFFF;   /* Paper White byjackli - Suitable for any text and backgrounds. This is the default 'light-mode' color. */
  --LightM: #FFFFFF;   /* Clean White byjackli - Suitable for card and block backgrounds. */
  --LightS: #FFFFFFBF; /* Clean White byjackli - Suitable for overlays */

  /* height */
  --navheight: 26px;

  /* duration */
  --speed0: .1s;
  --speed1: .25s;
  --speed2: .5s;
}




/* ========= 02 GENERAL ========= */
html, body, #root, .App, .App>div {
  width: 100%;
  height: 100%;
  background-color: var(--LightL);
}

* {
  box-sizing: border-box;
  margin: 0;
  position: relative;

  font-family: 'Roboto', 'Font Awesome 5 Free', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--DarkL);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 50px 0;
  padding-top: calc(50px + var(--navheight));
}
section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.pagecover {
  width: 100%;
  height: 100%;

  z-index: 1;
  overflow: hidden;
}
.pagecover-bg {
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; 

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  filter: blur(.25em);
  -webkit-filter: blur(.25em);
  transform: scale(1.2);
  
  z-index: 0;
}

/* headings */
h1, h2, h3, h4, h5, 
.style1, .style2, .style3, .style4, .style5, .stlye-mega
{ font-weight: 600; }
h1, .style1 { font-size: 3.25rem; }
h2, .style2 { font-size: 2.75rem; }
h3, .style3 { font-size: 2rem; }
h4, .style4 { font-size: 1.25rem; }
h5, .style5 { font-size: 1rem; }
.style-mega { font-size: 8rem; }
.pageheader {
  width: 100%;
  height: 10em;
  margin-bottom: 2em;
  padding: 1em 10em 0 10em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* superscript */
.sup {
  font-size: 50%;
  bottom: .5rem;
}

/* text settings */
strong { font-weight: 600; }

/* paragraph */
.content {
  word-break: break-all;
  white-space: pre-line;
}
.middle p {
  /* line-height: 2em; */
}


/* positioning */
.vrtCC, .vrtTL, .vrtTC, .vrtBT, .vrtEV, .vrtCL, .hrzCC, .hrzCR, .hrzTL, .hrzTR, .hrzTC, .hrzBT, .hrzEV {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.vrtCC, .hrzCC {
  justify-content: center;
  align-items: center;
}

.vrtTC, .hrzCR { align-items: center;}
.hrzCC, .hrzCR, .hrzTL, .hrzTR, .hrzTC, .hrzBT, .hrzEV { flex-direction: row; }
.hrzCR, .hrzTR { justify-content: flex-end; }
.vrtCL, .hrzTC { justify-content: center; }
.hrzBT, .vrtBT { justify-content: space-between; }
.hrzEV, .vrtEV { justify-content: space-evenly;}

/* scrollbar */
*::-webkit-scrollbar {
  width: .5rem;
  border-radius: 15px;
} 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px var(--DarkM);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--DarkM);
  outline: 1px solid var(--DarkS);
}
*::-webkit-scrollbar-button {
  background-color: var(--DarkM);
}

/* selection */
.dragoff {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}




/* ========= 03 COMPONENTS ========= */
/* --- 03a Buttons and Links --- */
.button-root { 
  display: inline-block; 
}
/* Box Button */
.button-box-fill, .button-box-nofill,
.button-pill-fill, .button-pill-nofill,
.button-round-fill, .button-round-nofill,
input[type="submit"] {
  width: fit-content;
  border: 3px solid var(--BrandL);
  padding: 7px 9px;
  background-image: linear-gradient( to top, var(--BrandL) 25%, var(--LightL) 25% 50%, var(--BrandL) 50% 75%, var(--LightL) 75%);
  background-size: 100% 400%;
  background-repeat: repeat-x;
  background-position: 100% 100%;

  cursor: pointer;
  color: var(--LightL);
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  display: inline-block; 

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: all var(--speed2);
}
/* Hover & Focus animation */
.button-box-fill:hover, .button-box-fill:focus,
.button-pill-fill:hover, .button-pill-fill:focus,
.button-round-fill:hover, .button-round-fill:focus,
.button-box-nofill:hover, .button-box-nofill:focus,
.button-pill-nofill:hover, .button-pill-nofill:focus,
.button-round-nofill:hover, .button-round-nofill:focus,
nav .active {
  outline: none;
  color: var(--BrandL);
  background-position: 100% 0%;
  transition: all var(--speed1);
}
/* Active (on-click) animation */
.button-box-fill:active, .button-box-nofill:active,
.button-pill-fill:active, .button-pill-nofill:active,
.button-round-fill:active, .button-round-nofill:active,
nav .active {
  box-shadow: 0 0 12px var(--DarkS);
  transform: scale(1.05);
}
/* Pill Button */
.button-pill-fill, .button-pill-nofill {
  border-radius: 99px;
}
/* Round Button */
.button-round-fill, .button-round-nofill {
  border-radius: 10px;
}
/* Buttons - nofill variant */
.button-box-nofill, 
.button-pill-nofill,
.button-round-nofill {
  background-image: linear-gradient( to top, var(--LightL) 25%, var(--BrandL) 25% 50%, var(--LightL) 50% 75%, var(--BrandL) 75%);
  border-color: var(--LightL);
  color: var(--BrandL);
}
.button-box-nofill:hover, .button-box-nofill:focus, 
.button-pill-nofill:hover, .button-pill-nofill:focus,
.button-round-nofill:hover, .button-round-nofill:focus {
  background-color: var(--BrandL);
  color: var(--LightL);
}
/* In-Text Link */
a:link, a:visited {
  text-decoration: none;
  transition: all var(--speed2);
  z-index: 1;
}
.intext, .flattext-reg, .flattext-invert { 
  background-image: linear-gradient( to right, var(--BrandS) 50%, var(--BrandL) 50%);
  background-size: 200% 8px;
  background-repeat: repeat-x;
  background-position: 200% 100%;
  transition: all var(--speed2);
}
.flattext-reg, .flattext-invert {
  background-image: linear-gradient( to right, var(--BrandS) 50%, var(--BrandL) 50%);
  background-size: 200% 0px;
  color: var(--BrandL);
}
.flattext-reg {
  color: var(--LightL);
}
.intext:hover, .intext:focus, 
.intext:hover *, .intext:focus *, 
.flattext-reg:hover, .flattext-reg:focus, 
.flattext-invert:hover, .flattext-invert:focus {
  outline: none;
  color: var(--LightL);
  background-size: 200% 100%;
  background-position: 100% 100%;
  transition: all var(--speed1);
}
.intext:active { color: var(--DarkS); }
.intext .fas { width: fit-content; display: inline; }
.intext:link:hover::after, .intext:link:focus::after {
  height: 1.5em;
  bottom: 0;
  background-color: var(--BrandL);
  transition: all var(--speed1);
}


/* --- 03b Icons --- */
.card li>.fas, .card li>.fab { 
  width: 25px; 
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* --- 03c Forms --- */
/* Input Fields */
input::placeholder {
  color: var(--LightL);
  transition: all var(--speed2);
}
input[type='text'], input[type='email'], input[type='password'], input[type='search'] {
  min-width: 45%;
  background-color: var(--BrandL);
  padding: 15px 20px;
  border: none;
  border-radius: 99px;
  outline: none;

  font-weight: 400;
  color: var(--LightL);
  transition: all var(--speed2);
}
input:focus::placeholder, input:hover::placeholder {
  color: var(--LightS);
  transition: all var(--speed1);
}
input:focus, input:hover {
  background-color: var(--BrandL);
  outline: none;
  transition: all var(--speed1);
}
/* Lists */
ol {
  list-style: none;
  padding: 0;
}


/* --- 03d Queue Components --- */
/* Queue Card */
.queue-card-container {
  width: 17em;
  height: 5em;
  margin-bottom: 10px;
}
.queue-card, .queue-add {
  width: 17em;
  height: 5em;
  background-color: var(--LightM);
  border-radius: 10px;
  box-shadow: 0px 2px 2px var(--DarkS);
  overflow: hidden;
  cursor: pointer;
  transition: all var(--speed2);
}
.queue-card *, .queue-add * {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.queue-card img {
  width: 5em;
}
.queue-card>div:nth-child(2) {
  width: 5em;
}
.queue-card>div:last-child {
  height: 100%;
  width: 12em;
  padding: .5em;
}
.queue-card-container:hover .queue-card {
  box-shadow: 0px 3px 7px var(--DarkS);
  transform: scale(1.05);
  transition: all var(--speed1);
}
/* Queue Settings */
.queue-settings {
  height: 0;
  width: 3em;
  top: 2em;
  right: 3.5em;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  transition: all var(--speed2);
}
.queue-settings i, .panel i {
  width: 2em;
  height: 2em;
  padding: .25em;
  margin: .15em;
  border-radius: 50%;
  background-color: var(--LightL);
  box-shadow: 0px 3px 7px var(--DarkS);
  color: var(--BrandL);
  cursor: pointer;
  transition: all var(--speed2);
}
.queue-settings i:hover, .panel i:hover {
  transform: scale(1.05);
  transition: all var(--speed1);
}
.queue-settings i:active, .panel i:active {
  transform: scale(.9);
  transition: all var(--speed1);
}
.queue-card:hover:active {
  transform: scale(1);
  box-shadow: 0px 2px 2px var(--DarkS);
  transition: all var(--speed1);
}
.queue-card-container:hover .queue-settings {
  height: 100%;
  top: 0;
  right: -3.5em;
  transition: all var(--speed1);
}
/* Scroll Animation */ 
.queue-card div.scroller {
  width: 11em;
  overflow: hidden;
}
div.scroller-fg {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(to left, var(--LightL), transparent);
  transition: all var(--speed1);
}
.queue-card-container:hover .an-scroll div.scroller-fg,
.an-scroll:hover div.scroller-fg {
  display: none;
  transition: all var(--speed1);
}
.scroller p { 
  width: fit-content;
  white-space: nowrap; 
}
.queue-card-container:hover .an-scroll p, .an-scroll p:hover {
  animation: myScroller 10s;
  animation-iteration-count: infinite;
}
@keyframes myScroller {
  from {
    transform: translateX();
  }
  to {
    transform: translateX(-50.25%);
  }
}
/* Queue Add */
.queue-add { 
  cursor: pointer;
  color: var(--BrandL);
  background-color: var(--DarkM);
  margin-bottom: 0; 
  transition: all var(--speed2);
}
.queue-add:hover { background-color: var(--LightS); }
.queue-add:hover * {
  border-color: var(--BrandL);
  color: var(--BrandL);
  transform: scale(1.01);
  transition: all var(--speed1);
}
.queue-add:active * {
  transform: scale(.99);
  transition: all var(--speed1);
}
.queue-add>div { 
  width: 16em;
  height: 4em;
  border-radius: 10px;
  border: 2px dashed var(--LightS);
}
.queue-add * { color: var(--LightM); }
/* Tag */
a.tag {
  padding: 5px 10px;
  background-color: var(--DarkM);
  margin: 10px 15px 0 0;
  border-radius: 99px;

  text-decoration: none;
  color: var(--LightS);
  transition: all var(--speed2);
}
a.tag:hover {
  color: var(--LightL);
  transition: all var(--speed1);
}
a.tag:last-of-type {
  margin-right: 0;
}


/* --- 03e Panel Components --- */
.panel {
  height: 75vh;
  width: 476px;
  position: absolute;
  top: 50px;
  right: -50px;
  background-color: var(--BrandL);
  border-radius: 50px 0 0 50px;
  overflow: hidden;
  z-index: 89;
  transition: all var(--speed0);
}
.panel-search>.style4, .panel-state *, .panel-queue h2 { color: var(--LightL); }
.panel>div:last-of-type { padding: 20px 0 20px 20px; }
.panel-state {
  height: 100%;
  width: 50px;
  cursor: pointer;

  writing-mode: vertical-rl;
  text-orientation: upright;
}
.panel-state:hover {
  background-color: var(--DarkS);
  transition: all var(--speed1);
}
.panel-false {
  right: -476px;
  transition: all var(--speed2);
}
.panel-false:hover {
  background-color: var(--DarkL);
}
.panel-controls { width: fit-content; height: 100% }
.panel-search { 
  width: 100%; 
  height: 5%; 
  padding-right: 20px;
}
.panel-search>div { margin-right: 10px; }
.panel-queue {
  width: fit-content; 
  height: 95%;
  padding-top: 35px;
}
.panel-queue h2 { padding-left: 20px; }
.queue-list:hover {
  padding-right: calc(70px - .5em);
  overflow-y: scroll;
}
.queue-list {
  width: 406px;
  height: 100%;
  padding: 20px 70px 20px 20px;
  padding-right: calc(70px - .5em);
  overflow-y: scroll;
}


/* --- 03f Navigation --- */
/* Homepage Navigation */
nav, nav .left, .compact-navbar, nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}
nav>div, .compact-navbar {
  width: 100%;
  padding: 0 25px;
  flex: auto;
}
nav { 
  flex-direction: column; 
  width: 100%;
  height: fit-content;
  background-color: var(--LightL);
  box-shadow: 0px -5px 20px var(--DarkM);
  position: fixed;
}
nav .top { 
  height: 75px;
  justify-content: space-between; 
}
nav .bottom {
  min-height: 32px;
  height: fit-content;
  background-color: var(--BrandL);
  justify-content: center;
  padding: 5px;
}
nav .bottom * { color: var(--LightL); }
nav div { 
  height: 100%; 
}
nav a {
  margin: 0 25px;

  color: var(--BrandL);
  font-weight: 600;
  text-decoration: none;
  transition: all var(--speed2);
}
.navlink { height: 100%; }
nav a * { color: var(--BrandL); }
nav .left { 
  flex: inherit;
  flex-grow: 1;
}
nav .left a:first-of-type, nav a:last-of-type {
  margin: 0;
}
nav .left a:last-of-type {
  margin: 0 50px 0 25px;
}
/* Compact Navigation */
.compact-navbar {
  height: fit-content;
  padding: 2px 25px;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(0deg, #00000040, #00000040), var(--BrandL);
}
.compact-navbar a, .compact-navbar i {
  font-size: 18px;
  color: var(--LightL);
}
.compact-navbar .left a:last-of-type {
  margin: 0 25px;
}
/* Search bar */
.search-container { width: 75%; }
input[type='search'] {
  width: 100%;
  padding-left: 30px;
  box-shadow: 0px 0px 5px var(--DarkL);
  font-weight: 600;
  font-size: 3.25em;
  transition: all var(--speed2);
}
input[type='search'].search-small {
  padding: 10px 15px;
  box-shadow: 0px 0px 5px var(--DarkS);
  background-color: var(--LightL);
  font-weight: 400;
  font-size: 1em;
  color: var(--BrandL);
}
input[type='search'].search-small::placeholder { color: var(--BrandL); }
input[type='search'].search-small::-webkit-search-cancel-button { background-color: var(--BrandL); }
input[type='search']::-webkit-search-cancel-button {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: var(--LightL);
  height: 1em;
  width: 1em;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
input[type='search']:hover, .search-container:hover .search-res {
  box-shadow: 0px 0px 15px var(--DarkS);
  transform: scale(1.01);
  transition: all var(--speed1);
}
input[type='search']:focus, .search-container:active .search-res {
  box-shadow: 0px 0px 15px var(--DarkS);
  transform: scale(1);
  transition: all var(--speed1);
}
/* Search Results */
.search-res {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 7em;
  left: 2em;
  background-color: var(--LightL);
  box-shadow: 0px 0px 5px var(--DarkS);
}
.panel .search-res { 
  top: 50px;
  left: 0px;
  z-index: 99; 
}
.search-res ol { padding-left: 0; }
.search-res li {
  width: 100%;
  color: var(--LightL);
  border: none;
  padding: 12px 38px;
  transition: all var(--speed2);
  cursor: pointer;
}
.search-res li:hover * {
  color: var(--LightL);
  transition: all var(--speed0);
}
.search-res li:hover {
  border: none;
  background-color: var(--BrandL);
  transition: all var(--speed0);
}
/* Menu bar */
.App>div.menubar, .menubar {
  width: 300px;
  height: calc(100% - var(--navheight));
  bottom: 0;
  position: fixed;
  background-color: var(--LightL);
  justify-content: space-between;
  z-index: 99;
}
.menubar * { width: 100%;  text-align: left; }
.menubar .button-box-fill { width: 100%; }
.menubar .top { height: calc(100% - 84px); }
.menubar .categories { 
  height: 100%;
  overflow-y: hidden;
}
.menubar .categories:hover { overflow-y: scroll; }
.menubar p {
  width: 250px;
  padding: 40px;
  font-size: 125%;
}
.menubar ol { padding: 0 0 30px 40px; }
.menubar ol * { color: var(--DarkL); }
.menubar ol li:first-of-type { color: var(--DarkM); }
/* Footer */
footer.hrzTL {
  width: 100%;
  height: fit-content;
  background-color: var(--BrandL);
  padding: 45px;
  justify-content: space-between;
}
footer * {
  color: var(--LightL);
}
footer p { padding-top: 15px; width: 250px;}
footer ol { padding-left: 100px; }
/* Modals */
.App>div.modalbg {
  width: 100%;
  height: calc(100% - var(--navheight));
  bottom: 0;
  position: fixed;
  background-color: var(--DarkM);
  z-index: 97;
}
.invalid, .invalid * { cursor: not-allowed; }



/* ========= 04 RESUME ========= */
main.resume>div {
  padding-bottom: 3%;
}
main.resume .card {
  width: 32%;
}



/* ========= 05 ABOUT ========= */
main.about section { margin-bottom: 5em; }
main.about .pageheader { background-image: linear-gradient(0deg, #FFFFFFBF, #FFFFFFBF), url(https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/64885910_467086900782843_2126031318545374196_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=HR0fCo4yBvsAX_ZJfca&oh=9699601bf1da4f1b4dc6732c83fcb9da&oe=5EFD5B02)}
main.about .left { width: 10%; }
main.about .right { width: 20%; }
main.about .middle { 
  width: 60%; 
  margin: 0 5% 
}
main.about .right>.card{
  margin-bottom: 2em;
}



/* ========= 06 PROJECT ========= */
main.project {
  padding: 0;
  padding-top: var(--navheight);
}
main.project section { 
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
  background-color: var(--LightL);

  z-index: 1;
}
main.project section>* {
  padding: .05em;
}
main.project section.details>div {
  width: 100%;
  height: 100%;
}
main.project ol:not(:first-of-type) { width: 35%; }
main.project .links li { padding: .5em;}
main.project .gallery {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
main.project .gallery .card { 
  width: 30%; 
  margin: 1%;
}




/* ========= 98 STYLEGUIDE ========= */
main.styleguide { background-color: #DFDFDF !important; }
main.styleguide section { margin-bottom: 150px !important; height: fit-content !important; }
main.styleguide section>* { margin: 50px !important; }

/* Typography */
main.styleguide section.typography>div>div:last-of-type { margin-left: 100px; }
main.styleguide section.typography>div>div:last-of-type * { font-family: "Roboto-Slab"; }
main.styleguide section.typography>div>div>div { margin-right: 30px; }

/* Clicks */
main.styleguide section.clicks>div a {
  margin: 0 30px;
}

main.styleguide section.queue-components { min-height: 1500px; }

main.styleguide section>h2:first-of-type,
main.styleguide nav,
main.styleguide .compact-navbar,
main.styleguide .menubar,
main.styleguide footer { margin: 50px 0 !important; position: relative !important; z-index: 50;}

